@charset "UTF-8";
/* CSS Document */
body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
            margin: 0;
            overflow: hidden;
            height: 100vh;
			background-image: url("ST.jpg");
			background-size: cover;
      }

h1 {
	  text-align: center;
	  margin-top: 50px;
}

p {
	  margin: 50px 4000px px 15px;
	
}

        /* 左上にボタンを固定するスタイル */
        #music-control {
            position: fixed;  /* 固定位置に配置 */
            top: 10px;        /* 画面の上から10px */
            left: 10px;       /* 画面の左から10px */
            background-color: #A842A6; /* 背景色 */
            padding: 0px;    /* ボタン周りに余白 */
            border-radius: 5px; /* 角を丸める */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 軽い影を付ける */
        }

        #music-control button {
            font-size: 10px;   /* ボタンの文字サイズ */
            padding: 5px 10px; /* ボタンの余白 */
            cursor: pointer;   /* ホバー時にポインタを表示 */
        }